/* line 1, ../../sass/partials/home.scss */
body {
  background-color: #1469FF;
  height: 100vh;
}
/* line 5, ../../sass/partials/home.scss */
body .container-big {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* line 13, ../../sass/partials/home.scss */
body .container-big .square {
  position: absolute;
  z-index: 1;
  width: 450px;
  height: 420px;
  background: #000000;
}
/* line 20, ../../sass/partials/home.scss */
body .container-big .circle {
  z-index: 2;
  width: 534px;
  height: 539px;
  background: #0027C8;
  border-radius: 50%;
  /*to center the child block*/
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 31, ../../sass/partials/home.scss */
body .container-big .circle .container-small {
  width: 365px;
  height: 365px;
  position: relative;
}
/* line 36, ../../sass/partials/home.scss */
body .container-big .circle .container-small .arrow-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 182.5px solid transparent;
  border-right: 182.5px solid transparent;
  border-bottom: 313px solid #FF3C82;
}
/* line 44, ../../sass/partials/home.scss */
body .container-big .circle .container-small .arrow-down {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 182.5px solid transparent;
  border-right: 182.5px solid transparent;
  border-top: 313px solid #FF3C82;
}
/* line 55, ../../sass/partials/home.scss */
body .container-big .title {
  z-index: 3;
  position: absolute;
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
}
/* line 63, ../../sass/partials/home.scss */
body .container-big .sub-title {
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 36px;
}
