/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rbenv/versions/2.2.3/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/home.scss */
body {
  background-color: #1469FF;
  height: 100vh;
  overflow: hidden;
}
/* line 6, ../sass/partials/home.scss */
body .container-big {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* line 14, ../sass/partials/home.scss */
body .container-big .square {
  position: absolute;
  z-index: 1;
  width: 450px;
  height: 420px;
  background: #000000;
  transform: rotate(0deg);
  animation: rotate_left 4s linear 0s, first_enlarge 0.5s linear 4.1s forwards;
}
/* line 24, ../sass/partials/home.scss */
body .container-big .circle {
  position: absolute;
  z-index: 2;
  width: 534px;
  height: 539px;
  background: #0027C8;
  border-radius: 50%;
  animation: scale_large_small 4s linear 0s, second_enlarge 0.5s linear 4.6s forwards;
}
/* line 34, ../sass/partials/home.scss */
body .container-big .container-small {
  position: absolute;
  z-index: 3;
  width: 365px;
  height: 365px;
  transform: rotate(0deg);
  animation: rotate_right 4s linear 0s, third_enlarge 0.5s linear 5.1s forwards;
}
/* line 42, ../sass/partials/home.scss */
body .container-big .container-small .arrow-up {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 182.5px solid transparent;
  border-right: 182.5px solid transparent;
  border-bottom: 313px solid #FF3C82;
  animation: disappear 1s linear 5.6s forwards;
}
/* line 51, ../sass/partials/home.scss */
body .container-big .container-small .arrow-down {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 182.5px solid transparent;
  border-right: 182.5px solid transparent;
  border-top: 313px solid #FF3C82;
  animation: disappear 1s linear 5.6s forwards;
}
/* line 62, ../sass/partials/home.scss */
body .container-big .title {
  z-index: 3;
  position: absolute;
  font-size: 64px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  animation: disappear 1s linear 5.6s forwards;
}
/* line 71, ../sass/partials/home.scss */
body .container-big .sub-title {
  font-size: 24px;
  font-weight: normal;
  color: #FFFFFF;
  line-height: 36px;
  animation: disappear 1s linear 5.6s forwards;
}

@keyframes rotate_right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate_left {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes scale_large_small {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes first_enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(10);
  }
}
@keyframes second_enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(10);
  }
}
@keyframes third_enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(10);
  }
}
@keyframes disappear {
  from {
    border-color: #FF3C82;
    opacity: 1;
  }
  to {
    border-color: blue;
    opacity: 0;
  }
}
